:root {
  /* Typography */
  --font-sans: "Inter", "Open Sans", sans-serif;
  --font-sans-heading: "Inter", "Open Sans", sans-serif;
  --font-serif: "Zilla Slab", "Times New Roman", serif;
  --font-mono: "SFMono-Regular", "Menlo", monospace;
  --font-size-00: 0.75rem;
  --font-size-0: 0.875rem;
  --font-size-1: 1rem;
  --font-size-1-25: 1.25rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.75rem;
  --font-size-5: 2.5rem;
  --font-size-body: 1.125rem;

  /* Colors */
  --blue-100: #eefaff;
  --blue-200: #dff5ff;
  --blue-300: #bfeaff;
  --blue-400: #6eceff;
  --blue-500: #32b8fb;
  --blue-600: #00a7fb;
  --blue-700: #008ace;
  --blue-800: #005580;
  --blue-900: #00273b;

  /* Defaults */
  --ifm-color-primary: var(--blue-600);
  --ifm-color-primary-dark: var(--blue-700);
  --ifm-color-primary-darker: var(--blue-800);
  --ifm-color-primary-darkest: var(--blue-900);
  --ifm-color-primary-light: var(--blue-500);
  --ifm-color-primary-lighter: var(--blue-400);
  --ifm-color-primary-lightest: var(--blue-300);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-background-color: #efefef;
  --ifm-navbar-link-hover-color: #446BFF;
  --ifm-navbar-link-color: #525252;

  /* ifm font */
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: var(--font-sans);
  --ifm-heading-font-weight: 600;
  --ifm-font-weight-bold: 600;  
}

[data-theme='dark'] {
  --ifm-color-primary: var(--blue-600);
  --ifm-color-primary-dark: var(--blue-700);
  --ifm-color-primary-darker: var(--blue-800);
  --ifm-color-primary-darkest: var(--blue-900);
  --ifm-color-primary-light: var(--blue-500);
  --ifm-color-primary-lighter: var(--blue-400);
  --ifm-color-primary-lightest: var(--blue-300);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-navbar-background-color: #131d42;
  --ifm-navbar-link-color: #efefef;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 20px; 
  flex-wrap: wrap; 
  padding: 20px 0;
}

.card {
  background: var(--ifm-background-color);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 30%; 
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.07);
}

.cardLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.cardImage {
  width: 50%; /* Adjust the width as needed */
  height: auto;
  margin-bottom: 5%;
}

.card h3 {
  margin: 10px 0;
  color: var(--ifm-navbar-link-hover-color);
}

.card p {
  color: var(--ifm-navbar-link-color);
}
